<mdb-card>
    <mdb-card-body>
        <img src="../../assets/img/foto.jpg" style="width:45%;" class="w3-round"><br><br>
        <h4><b>Luciano Ortiz</b></h4>
        <p class="w3-text-grey">Controle De Medidas</p>
        <h6>
            <i>Altura: </i>
            <span [hidden]="altura === null">{{ altura }}</span>
            <span [hidden]="altura !== null" class="spinner-border text-primary" role="status"></span>
        </h6>
        <h6>
            <i>% Gordura: </i> 
            <span [hidden]="percentualGordura === null">{{ percentualGordura }}</span>
            <span [hidden]="percentualGordura !== null" class="spinner-border text-primary" role="status"></span>            
            <i class="ml-2 fas fa-info-circle" mdbTooltip="Conforme Marinha EUA" placement="top" mdbWavesEffect></i>
        </h6>
    </mdb-card-body>
</mdb-card>