<app-grafico *ngIf="dadosPeso.length > 0"
            [dados]="[dadosPeso]"
            [descricoes]="descricoesPeso"
            [legenda]="['Peso']"
            [unidadeMedida]="'kg'">
</app-grafico>

<app-grafico *ngIf="dadosPescoco.length > 0"
            [dados]="[dadosPescoco]"
            [descricoes]="descricoesPescoco"
            [legenda]="['Pescoço']"
            [unidadeMedida]="'cm'">
</app-grafico>

<app-grafico *ngIf="dadosTorax.length > 0"  
            [dados]="[dadosTorax]"
            [descricoes]="descricoesTorax"
            [legenda]="['Tórax']"
            [unidadeMedida]="'cm'">
</app-grafico>

<app-grafico *ngIf="dadosCintura.length > 0"  
            [dados]="[dadosCintura]"
            [descricoes]="descricoesCintura"
            [legenda]="['Cintura']"
            [unidadeMedida]="'cm'">
</app-grafico>

<app-grafico *ngIf="dadosQuadril.length > 0"  
            [dados]="[dadosQuadril]"
            [descricoes]="descricoesQuadril"
            [legenda]="['Quadril']"
            [unidadeMedida]="'cm'">
</app-grafico>

<app-grafico *ngIf="dadosBicepsE.length > 0 && dadosBicepsD.length > 0"  
            [dados]="[dadosBicepsE, dadosBicepsD]"
            [descricoes]="descricoesBiceps"
            [legenda]="['Bíceps Esquerdo', 'Bíceps Direito']"
            [unidadeMedida]="'cm'">
</app-grafico>                             