<!-- 
    novalidate: remove as mensagens padrões dos browsers, quanto a validações
-->
<form class="needs-validation" novalidate [formGroup]="formulario">
    
    
    <!-- DATA CRIACAO -->
    <div class="form-row mt-5">
        <div class="col-8 offset-2 col-md-5 col-lg-4 col-xl-4 mb-3">
            <div class="input-group">
                <input formControlName="dtCriacao" class="form-control" type="date" required>
                <div class="invalid-feedback">
                    Preenchimento Obrigatório.
                </div>
            </div>
        </div>
    </div>

    <hr class="w3-opacity">

    <div class="form-row">   
        <!-- PESO -->
        <div class="col-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label class="font-weight-bold">Peso*</label><span> (kg)</span>
            <div class="input-group">
                <input formControlName="peso" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2" required>
                <div class="invalid-feedback">
                    Obrigatório.
                </div>
            </div>
        </div>
    </div>   

    <div class="form-row">   
        <!-- PESCOÇO -->
        <div class="col-6 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="pescocoID" class="font-weight-bold">Pescoço*</label><span> (cm)</span>
            <div class="input-group">
                <input input formControlName="pescoco" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2" required>
                <div class="invalid-feedback">
                    Obrigatório.
                </div>
            </div>
        </div>        
        <!-- TÓRAX -->
        <div class="col-6 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="toraxID" class="font-weight-bold">Tórax*</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="torax" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2" required>
                <div class="invalid-feedback">
                    Obrigatório.
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-row">            
        <!-- CINTURA -->
        <div class="col-6 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="cinturaID" class="font-weight-bold">Cintura*</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="cintura" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2" required>
                <div class="invalid-feedback">
                    Obrigatório.
                </div>
            </div>
        </div>
        <!-- QUADRIL -->
        <div class="col-6 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="quadrilID" class="font-weight-bold">Quadril*</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="quadril" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2" required>
                <div class="invalid-feedback">
                    Obrigatório.
                </div>
            </div>
        </div>
    </div>
    
    <hr class="w3-opacity">

    <div class="form-row">            
        <!-- BICEPS ESQUERDO -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="bicepsEsquerdoID" class="font-weight-bold">Bíceps Esquerdo</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="bicepsE" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
         
        <!-- BICEPS DIREITO -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="bicepsDireitoID" class="font-weight-bold">Bíceps Direito</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="bicepsD" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
    </div>

    <hr class="w3-opacity">

    <div class="form-row">            
        <!-- ANTEBRACO ESQUERDO -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="antebracoEsquerdoID" class="font-weight-bold">Antebraço Esq.</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="antebracoE" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
         
        <!-- ANTEBRACO DIREITO -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="antebracoDireitoID" class="font-weight-bold">Antebraço Dir.</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="antebracoD" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
    </div>

    <hr class="w3-opacity">

    <div class="form-row">            
        <!-- COXA ESQUERDO -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="coxaEsquerdoID" class="font-weight-bold">Coxa Esquerda</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="coxaE" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
         
        <!-- COXA DIREITO -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="coxaDireitoID" class="font-weight-bold">Coxa Direita</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="coxaD" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
    </div>

    <hr class="w3-opacity">

    <div class="form-row">            
        <!-- PANTURRILHA ESQUERDA -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="paturrihaEsquerdaID" class="font-weight-bold">Panturrilha Esq.</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="panturrilhaE" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
        <!-- PANTURRILHA DIREITA -->
        <div class="col-6 col-sm-12 col-md-5 col-lg-4 col-xl-4 mb-3">
            <label for="panturrilhaDireitaID" class="font-weight-bold">Panturrilha Dir.</label><span> (cm)</span>
            <div class="input-group">
                <input formControlName="panturrilhaD" type="text" class="form-control" aria-describedby="inputGroupPrepend" maxlength="5" mask="separator.2">
            </div>
        </div>
    </div>

    <hr>

    <!--
        https://getbootstrap.com/docs/4.0/utilities/display/
    -->
    <div class="row">
        <div class="col-6">
            <p class="d-block d-sm-none obs-xs text-left">(kg) Exemplo: 82.4</p><!-- XS -->
            <p class="d-none d-sm-block d-md-none obs-sm">(kg) Exemplo: 82.4</p><!-- SM -->
            <p class="d-none d-md-block d-lg-none obs-md">(kg) Exemplo: 82.4</p><!-- MD -->
            <p class="d-none d-lg-block d-xl-none obs-lg">(kg) Exemplo: 82.4</p><!-- LG -->
            <p class="d-none d-xl-block obs-xl">(kg) Exemplo: 82.4</p><!-- XL -->
        </div>
        <div class="col-6">
            <p class="d-block d-sm-none obs-xs text-right">(cm) Exemplo: 82.4</p><!-- XS -->
            <p class="d-none d-sm-block d-md-none obs-sm text-right">(cm) Exemplo: 82.4</p><!-- SM -->
            <p class="d-none d-md-block d-lg-none obs-md text-right">(cm) Exemplo: 82.4</p><!-- MD -->
            <p class="d-none d-lg-block d-xl-none obs-lg text-right">(cm) Exemplo: 82.4</p><!-- LG -->
            <p class="d-none d-xl-block obs-xl text-right">(cm) Exemplo: 82.4</p><!-- XL -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="d-block d-sm-none obs-xs">* Valores obrigatórios. Necessários para calcular % de gordura.</p><!-- XS -->
            <p class="d-none d-sm-block d-md-none obs-sm">* Valores obrigatórios. Necessários para calcular % de gordura.</p><!-- SM -->
            <p class="d-none d-md-block d-lg-none obs-md">* Valores obrigatórios. Necessários para calcular % de gordura.</p><!-- MD -->
            <p class="d-none d-lg-block d-xl-none obs-lg">* Valores obrigatórios. Necessários para calcular % de gordura.</p><!-- LG -->
            <p class="d-none d-xl-block obs-xl">* Valores obrigatórios. Necessários para calcular % de gordura.</p><!-- XL -->
        </div>
    </div>
    <button class="btn btn-success btn-lg btn-block" type="submit" (click)="onSubmit()">
        <i class="far fa-check-circle"></i> salvar
    </button>
</form>        