.obs-xs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.obs-sm {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 800;
}

.obs-md {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 900;
}

.obs-lg {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 900;
}

.obs-xl {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 900;
}