  <!-- Conteudo do menu -->
  <nav id="menu-conteudo" class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;"><br>
    <div class="w3-container">
      <a href="#" (click)="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
        <i class="fas fa-times"></i>
      </a>
      <img src="../../assets/img/foto.jpg" style="width:45%;" class="w3-round"><br><br>
      <h4><b>Luciano Ortiz</b></h4>
      <p class="w3-text-grey">Controle De Medidas</p>
    </div>
    <div class="w3-bar-block">
      <a (click)="selecionarPagina('medida_cadastro')" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-plus fa-fw w3-margin-right"></i>NOVO</a> 
      <a (click)="selecionarPagina('medida_progresso')" class="w3-bar-item w3-button w3-padding"><i class="fas fa-chart-line fa-fw w3-margin-right"></i>PROGRESSO</a> 
      <a (click)="selecionarPagina('medida_atual')" class="w3-bar-item w3-button w3-padding"><i class="fas fa-weight fa-fw w3-margin-right"></i>ATUAL</a>
    </div>
  </nav>

  <!-- Add efeito com sobra no fundo -->
  <div id="menu-sombra-fundo" class="w3-overlay w3-hide-large w3-animate-opacity" (click)="w3_close()" style="cursor:pointer" title="close side menu"></div>

  