<div *ngIf="autenticado" class="container">

  <app-medida-menu (paginaSelecionadaEventEmitter)=setPagina($event)></app-medida-menu>
  
  <app-medida-usuario [nome]="socialUser.name"
                      [urlFoto]="socialUser.photoUrl"
                      [email]="socialUser.email">
  </app-medida-usuario>

  <div [ngSwitch]="paginaSelecionada">    
    <app-medida-cadastro  *ngSwitchCase="'medida_cadastro'"></app-medida-cadastro>
    <app-medida-progresso *ngSwitchCase="'medida_progresso'"></app-medida-progresso>
    <app-medida-atual *ngSwitchDefault></app-medida-atual>                  
  </div>

</div>