<mdb-card class="testimonial-card grey lighten-4">
  <div class="row mt-2">
    <div class="col-5 text-left ml-2">
      <span>
        <i class="fas fa-user mr-1"></i><label>perfil</label>
      </span>
    </div>
    <a class="col-6 card-title text-right mr-2" data-toggle="collapse" href="#perfilUsuario" role="button" aria-expanded="true" aria-controls="perfilUsuario">
      <i class="fas fa-caret-down"></i>
    </a>
  </div>
  <div class="collapse show" id="perfilUsuario">
    <div class="avatar mx-auto mt-3">
      <img src="{{urlFoto}}" class="rounded-circle">
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>{{nome}}</h4>
      </mdb-card-title>
      <hr>
      <div class="row">
        <div class="col-12">
          <label class="mr-1 text-uppercase">Altura:</label><span>{{ usuario?.altura }}</span> 
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="mr-1 text-uppercase">Gordura corporal:</label><span>{{ percentualGordura }} %</span>
          <i class="ml-1 fas fa-info-circle" mdbTooltip="{{ infoGordura }}" placement="top" mdbWavesEffect></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="mr-1 text-uppercase">IMC:</label><span>{{ imc }}</span>
          <i class="ml-1 fas fa-info-circle" mdbTooltip="{{ infoIMC }}" placement="top" mdbWavesEffect></i>
        </div>
      </div>
    </mdb-card-body>  
  </div>
</mdb-card>