<div class="w3-container">
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <label class="input-group-text" for="filtroID">Filtro</label>
            </div>
            <select id="filtroID" name="filtros" class="form-control" [formControl]="filtroControl">
                  <option *ngFor="let filtro of filtros" [ngValue]="filtro">
                        {{ filtro.descricao }}
                  </option>
            </select>
      </div>
</div>

<app-grafico   *ngIf="dadosPeso.length > 0"
             [dados]="dadosPeso"
        [descricoes]="descricoes"
           [legenda]="'Peso'"
     [unidadeMedida]="'kg'">
</app-grafico>

<app-grafico   *ngIf="dadosPescoco.length > 0"
             [dados]="dadosPescoco"
        [descricoes]="descricoes"
           [legenda]="'Pescoço'"
     [unidadeMedida]="'cm'">
</app-grafico>

<app-grafico   *ngIf="dadosTorax.length > 0"  
             [dados]="dadosTorax"
        [descricoes]="descricoes"
           [legenda]="'Tórax'"
     [unidadeMedida]="'cm'">
</app-grafico>
