<mdb-card class="mb-1"> 
    <ul class="nav justify-content-center grey lighten-4 py-4">
      <li class="nav-item">
        <a id="btnNovo" (click)="selecionarPagina('medida_cadastro', '#btnNovo')" class="nav-link">Novo</a>
      </li>
      <li class="nav-item">
        <a id="btnProgresso" (click)="selecionarPagina('medida_progresso', '#btnProgresso')" class="nav-link">Progresso</a>
      </li>
      <li class="nav-item">
        <a id="btnAtual" (click)="selecionarPagina('medida_atual', '#btnAtual')" class="nav-link">Atual</a>
      </li>
    </ul>      
</mdb-card>