<mdb-navbar SideClass="navbar navbar-dark navbar-9 bg-danger mb-1" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">Menu</a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a (click)="selecionarPagina('medida_cadastro')" class="nav-link waves-light" mdbWavesEffect>CADASTRO NOVO</a>
        </li>
        <li class="nav-item">
          <a (click)="selecionarPagina('medida_progresso')" class="nav-link waves-light" mdbWavesEffect>PROGRESSO</a>
        </li>
        <li class="nav-item">
          <a (click)="selecionarPagina('medida_atual')" class="nav-link waves-light" mdbWavesEffect>ÚLTIMA MEDIDA REALIZADA</a>
        </li>
      </ul>
    </links>
</mdb-navbar>