<mdb-card class="testimonial-card">
  <div class="avatar mx-auto mt-3">
    <img src="{{urlFoto}}" class="rounded-circle">
  </div>
  <mdb-card-body>
    <mdb-card-title>
      <h4>{{nome}}</h4>
    </mdb-card-title>
    <hr>
    <div class="row">
      <div class="col-12">
        <label class="mr-1 text-uppercase">Altura: </label>{{ usuario?.altura }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label class="mr-1 text-uppercase">Gordura corporal: </label>{{ percentualGordura }} %
        <i class="ml-1 fas fa-info-circle" mdbTooltip="{{ infoGordura }}" placement="top" mdbWavesEffect></i>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label class="mr-1 text-uppercase">IMC: </label>{{ imc }}
        <i class="ml-1 fas fa-info-circle" mdbTooltip="{{ infoIMC }}" placement="top" mdbWavesEffect></i>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>