<div class="row">

    <div class="col-12">
      <!--Card-->
      <mdb-card cascade="true" narrower="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="urlFoto"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h5 class="pink-text">
            <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
          <!--Title-->
          <h4 class="card-title">Cheat day inspirations</h4>
          <!--Text-->
  
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>  

  </div>