<div class="w3-content">

  <nav id="menu-conteudo" class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;"><br>
      <div class="w3-container">
        <a href="#" (click)="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
          <i class="fas fa-times"></i>
        </a>
      </div>
      
      <app-perfil></app-perfil>

      <div class="w3-bar-block mt-2">
        <a (click)="selecionarPagina('medida_cadastro')" class="w3-bar-item w3-button w3-padding"><i class="fa fa-plus fa-fw w3-margin-right"></i>CADASTRO NOVO</a> 
        <a (click)="selecionarPagina('medida_progresso')" class="w3-bar-item w3-button w3-padding"><i class="fas fa-chart-line fa-fw w3-margin-right"></i>PROGRESSO</a> 
        <a (click)="selecionarPagina('medida_atual')" class="w3-bar-item w3-button w3-padding"><i class="fas fa-weight fa-fw w3-margin-right"></i>ÚLTIMA MEDIDA REALIZADA</a>
      </div>
  </nav>

  <!-- Add efeito com sobra no fundo -->
  <div id="menu-sombra-fundo" class="w3-overlay w3-hide-large w3-animate-opacity" (click)="w3_close()" style="cursor:pointer" title="close side menu"></div>

  <div class="w3-main" style="margin-left:300px">
    <header id="portfolio">
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" (click)="w3_open()">
        <i class="fa fa-bars"></i>
      </span>
      <div class="w3-container">
        <div [ngSwitch]="paginaSelecionada" class="mt-4">    
          <app-medida-cadastro  *ngSwitchCase="'medida_cadastro'"></app-medida-cadastro>
          <app-medida-progresso *ngSwitchCase="'medida_progresso'"></app-medida-progresso>
          <app-medida-atual *ngSwitchDefault></app-medida-atual>                  
        </div>
      </div>
    </header>
  </div>

</div>