<div class="container">
    <div class="row">  
        <div class="col-12">
            <mdb-card cascade="true">
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../../assets/img/fita.jpg"></mdb-card-img>
                <a>
                <div class="mask rgba-white-slight"></div>
                </a>
                </div>
                <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                    <h4 class="card-title">
                    <strong>Medida Corporal</strong>
                    </h4>
                    <h5>Confira!</h5>
                    <mdb-card-text>
                        <p class="m-3">
                            Cadastro, Progresso, e Gráficos para monitorar sua performance
                        </p>
                    </mdb-card-text>
                    <div class="card-footer text-muted text-center mt-4">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <button mdbBtn (click)="signInWithGoogle()" type="button" class="waves-light btn-gplus col-12" mdbWavesEffect><i class="fab fa-google-plus left"></i>Google +</button>
                            </div>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>