<mdb-card class="testimonial-card grey lighten-4 mt-1">
    <div class="row mt-2">
       <div class="col-5 text-left ml-2">
        <!--
        <span>
            <i class="fas fa-search mr-1"></i><label>filtro</label>
         </span>
         --> 
       </div>
       <a class="col-6 card-title text-right mr-2" data-toggle="collapse" href="#filtro" role="button" aria-expanded="true" aria-controls="filtro">
         <i class="fas fa-caret-down"></i>
       </a>
    </div>
    <div class="collapse show" id="filtro">
        <mdb-card-body>
            <form [formGroup]="formulario" class="m-0">

                <!-- FILTRO POR QUANTIDADE -->
                <div class="row d-none d-sm-block d-md-block">
                    <h6 class="col-12 text-center">Quantidade máxima de registros:</h6>
                </div>
                <div class="row">
                    <div class="col-4 d-none d-sm-block d-md-block">
                        <input formControlName="opcaoQuantidadeRegistros" type="radio" class="form-check-input" name="opcaoQuantidadeRegistros" value="6">
                        <label class="form-check-label">06</label>
                    </div>
                    <div class="col-4 d-none d-sm-block d-md-block">
                        <input formControlName="opcaoQuantidadeRegistros" type="radio" class="form-check-input" name="opcaoQuantidadeRegistros" value="9">
                        <label class="form-check-label">09</label>
                    </div>
                    <div class="col-4 d-none d-sm-block d-md-block">
                        <input formControlName="opcaoQuantidadeRegistros" type="radio" class="form-check-input" name="opcaoQuantidadeRegistros" value="12">
                        <label class="form-check-label">12</label>
                    </div>
                </div>          
                
                <!-- FILTRO POR MEDIDA -->
                <hr class="d-none d-sm-block d-md-block">      
                <div class="row">
                    <h6 class="col-12 text-center">Medida:</h6>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <select formControlName="opcaoMedidas" id="opcaoMedidas" class="form-control">
                            <option *ngFor="let filtro of opcaoMedidas; let i = index" [value]="opcaoMedidas[i].id">{{opcaoMedidas[i].name}}</option>
                        </select>
                    </div>
                </div>    
            </form>
        </mdb-card-body>
    </div>
</mdb-card>